__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

venv/
.venv/
env/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

/App/static/merged_project.*
/App/merger_exclusions.json
/old

/node_modules/